<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.julius.jobmanagementsystem.domain.repository.ResultDao">

    <!--结果集映射-->
    <resultMap id="ResultMap" type="Result">
        <id column="id" property="id"/>
        <result column="stu_id" property="stuId"/>
        <result column="task_id" property="taskId"/>
        <result column="stu_name" property="studentName"/>
        <result column="task_download_name" property="taskDownLoadName"/>
        <result column="submit" property="submit"/>
        <result column="score" property="score"/>
        <result column="createdDate" property="createdDate"/>
        <result column="updatedDate" property="updatedDate"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>

    <sql id="Base_Column_List">
     id,stu_id, task_id, submit, score,createdDate,updatedDate,delete_flag
    </sql>

    <select id="findResultByTaskId" resultMap="ResultMap">
       SELECT
	   r.score,
	   r.submit,
	   s.stu_id,
	   s.stu_name,
	   t.task_id,
	   t.task_name,
	   t.task_download_name
      FROM
	  result r
      LEFT JOIN student s ON r.stu_id = s.stu_id
      LEFT JOIN task    t ON  r.task_id=t.task_id
      WHERE r.task_id=#{taskId} AND  t.delete_flag='1'  AND r.delete_flag='1'
    </select>

    <select id="selectByPrimaryKey" resultMap="ResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM result
        <where>
            stu_id = #{stuId}
            AND task_id = #{taskId}
            AND delete_flag='1'
        </where>
    </select>

    <select id="selectByStuId" resultMap="ResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM result
        <where>
            stu_id = #{stuId}
            AND delete_flag='1'
        </where>
    </select>

    <select id="selectByTaskId" resultMap="ResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM result
        <where>
            task_id = #{taskId}
            AND delete_flag='1'
        </where>
    </select>

    <select id="selectAll" resultMap="ResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM result
        <where>
             AND  delete_flag='1'
        </where>
    </select>

    <select id="selectTaskByPage" resultMap="ResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM result
        <where>
            task_id=#{taskId} AND delete_flag='1'
            limit #{begin},#{size}
        </where>
    </select>

    <select id="findTaskIsSubmit" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM result
        <where>
            AND stu_id=#{studentId}
            AND task_id=#{taskId} AND submit='1'
        </where>
    </select>
    <select id="findResultStudentById" resultType="java.lang.Integer">
         SELECT    COUNT(*) FROM  result
         WHERE     stu_id=#{studentId}  AND  task_id=#{taskId}   AND delete_flag='1'
    </select>

    <delete id="deleteByPrimaryKey">
     DELETE FROM  result
     WHERE        stu_id = #{stuId}
     AND          task_id = #{taskId}
  </delete>

    <delete id="deleteByStuId">
    DELETE FROM result
    WHERE       stu_id = #{stuId}
  </delete>

    <delete id="deleteByTaskId">
    DELETE  FROM result
    WHERE   task_id = #{taskId}
  </delete>

    <delete id="deleteTaskById">
        UPDATE  result
        SET     delete_flag='0'
        WHERE   task_id=#{taskId}
    </delete>

    <insert id="insert">
    INSERT INTO   result
        (stu_id, task_id,createdDate)
    VALUES
        (#{stuId}, #{taskId},now())
   </insert>

    <insert id="insertSelective">
        INSERT INTO result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stuId != null">
                stu_id,
            </if>
            <if test="taskId != null">
                task_id,
            </if>
            <if test="submit != null">
                submit,
            </if>
            <if test="score != null">
                score,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="stuId != null">
                #{stuId},
            </if>
            <if test="taskId != null">
                #{taskId},
            </if>
            <if test="submit != null">
                #{submit},
            </if>
            <if test="score != null">
                #{score},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective">
        UPDATE result
        <set>
            <if test="submit != null">
                submit = #{submit},
            </if>
            <if test="score != null">
                score = #{score},
            </if>
            updatedDate=now()
        </set>
        WHERE stu_id = #{stuId}
        AND   task_id = #{taskId}
    </update>

    <update id="updateByPrimaryKey">
    UPDATE   result
    SET      submit = #{submit},
              score = #{score},
              updatedDate=now()
    WHERE    stu_id = #{stuId}
    AND      task_id = #{taskId}
  </update>
</mapper>