<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.julius.jobmanagementsystem.domain.repository.TeacherDao">

    <resultMap id="TeacherMap" type="Teacher">
        <id column="id" property="id"/>
        <result column="tea_id" property="teaId"/>
        <result column="tea_name" property="teaName"/>
        <result column="tea_pwd" property="teaPwd"/>
        <result column="createdDate" property="createdDate"/>
        <result column="updatedDate" property="updatedDate"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>

    <sql id="Base_Column_List">
    id,tea_id, tea_name, tea_pwd,createdDate,updatedDate,delete_flag
    </sql>

    <select id="selectByTeaId" resultMap="TeacherMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM teacher
        <where>
            tea_id = #{teaId,jdbcType=CHAR}
            AND delete_flag='1'
        </where>
    </select>

    <select id="selectAllTeacher" resultMap="TeacherMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM teacher
        <where>
            AND delete_flag='1'
        </where>
    </select>

    <delete id="deleteByTeaId">
    DELETE FROM teacher
    WHERE  tea_id = #{teaId,jdbcType=CHAR}
   </delete>

    <insert id="insert">
    INSERT  INTO teacher (tea_id, tea_name, tea_pwd,createdDate)
    values
    (#{teaId},
    #{teaName},
    #{teaPwd},
      now()
    )
  </insert>

    <insert id="insertSelective">
        INSERT INTO teacher
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teaId != null">
                tea_id,
            </if>
            <if test="teaName != null">
                tea_name,
            </if>
            <if test="teaPwd != null">
                tea_pwd,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teaId != null">
                #{teaId,jdbcType=CHAR},
            </if>
            <if test="teaName != null">
                #{teaName,jdbcType=CHAR},
            </if>
            <if test="teaPwd != null">
                #{teaPwd,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByTeaIdSelective">
        UPDATE teacher
        <set>
            <if test="teaName != null">
                tea_name = #{teaName},
            </if>
            <if test="teaPwd != null">
                tea_pwd = #{teaPwd},
            </if>
            updatedDate=now()
        </set>
        WHERE tea_id = #{teaId}
    </update>

    <update id="updateByTeaId">
    UPDATE teacher
    SET    tea_name = #{teaName},
            tea_pwd = #{teaPwd},
            updatedDate=now()
    WHERE  tea_id = #{teaId}
  </update>

</mapper>